<!DOCTYPE html>
<html>

<header>
    <link rel='stylesheet' href='../styles/aboutUs.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet">

    <div id="title">
        <h1>About Us</h1>
    </div>

</header>

<body>

    <div class="container">

        <div class="menu">

            <a href="./home.html">
                <h2>Home</h2>
            </a>
            <a href="./action.html">
                <h2>Action</h2>
            </a>
            <a href="./contactUs.html">
                <h2>Contact Us</h2>
            </a>

        </div>

        <div class="aboutUsContent">

            <p id="info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="colaboratorsContent">
            <h2>
                Colaborators
            </h2>

            <ul>
                <li id="itemEven">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</li>
                <li id="itemOdd">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo consequat.</li>
                <li id="itemEven">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla pariatur. </li>
                <li id="itemOdd">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum.</li>
            </ul>

        </div>

    </div>



</body>

</html>