<!DOCTYPE html>
<html>

<header>
<link rel='stylesheet' href='../styles/action.css'/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet">

</header>
<body>

    <div>
        <h1>Action</h1>
        <div id="menuGrid">
            <a href="./home.html"><h2>Home</h2></a>
            <a href="./aboutUs.html"><h2>About Us</h2></a>
            <a href="./contactUs.html"><h2>Contact US</h2></a>
        </div>
    </div> 

</body>
</html>