<!DOCTYPE html>
<html>

<header>
    <link rel='stylesheet' href='../styles/action.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap" rel="stylesheet">

    <div id="title">
        <h1>Action</h1>
    </div>

</header>

<body>

    <div class="container">
        <div class="menu">
            <a href="./home.html">
                <h2>Home</h2>
            </a>
            <a href="./aboutUs.html">
                <h2>About Us</h2>
            </a>
            <a href="./contactUs.html">
                <h2>Contact Us</h2>
            </a>
        </div>
        <div class="socialMedia">
            <a href="https://www.facebook.com/"><img src="../images/facebook.png"></a>
            <a href="https://twitter.com/"><img src="../images/gorjeo.png"></a>
            <a href="https://www.instagram.com/"><img src="../images/instagram(1).png"></a>
        </div>
        <div class="infoAction">

            <div class="location">
                <div id="whereTag">
                    <h3>Where?</h3>
                </div>
                <iframe id="map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2436403.101978138!2d147.20011195318145!3d-18.970997409239047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6bdf1446822c713b%3A0x192a574136833cda!2sGran%20Barrera%20de%20Coral%2C%20Australia!5e0!3m2!1ses!2sec!4v1655522404055!5m2!1ses!2sec"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="info">
                <div id="datathonTag">
                    <h3>Datathon</h3>
                </div>
                <table>
                    <colgroup span="4" class="columns"></colgroup>
                    <tr>
                        <th>Video_id</th>
                        <th># sequence</th>
                        <th># video_frame</th>
                        <th># sequence_frame</th>
                        <th># image_id</th>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>17063</td>
                        <td>3</td>
                        <td>0</td>
                        <td>3-0</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>17064</td>
                        <td>1</td>
                        <td>1</td>
                        <td>3-1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>17065</td>
                        <td>2</td>
                        <td>2</td>
                        <td>3-2</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>17063</td>
                        <td>3</td>
                        <td>0</td>
                        <td>3-0</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>17064</td>
                        <td>1</td>
                        <td>1</td>
                        <td>3-1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>17065</td>
                        <td>2</td>
                        <td>2</td>
                        <td>3-2</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>17063</td>
                        <td>3</td>
                        <td>0</td>
                        <td>3-0</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>17064</td>
                        <td>1</td>
                        <td>1</td>
                        <td>3-1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>17065</td>
                        <td>2</td>
                        <td>2</td>
                        <td>3-2</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>17063</td>
                        <td>3</td>
                        <td>0</td>
                        <td>3-0</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>17064</td>
                        <td>1</td>
                        <td>1</td>
                        <td>3-1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>17065</td>
                        <td>2</td>
                        <td>2</td>
                        <td>3-2</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>17063</td>
                        <td>3</td>
                        <td>0</td>
                        <td>3-0</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>17064</td>
                        <td>1</td>
                        <td>1</td>
                        <td>3-1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>17065</td>
                        <td>2</td>
                        <td>2</td>
                        <td>3-2</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>17063</td>
                        <td>3</td>
                        <td>0</td>
                        <td>3-0</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>17064</td>
                        <td>1</td>
                        <td>1</td>
                        <td>3-1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>17065</td>
                        <td>2</td>
                        <td>2</td>
                        <td>3-2</td>
                    </tr>
                   
                    
                </table>
            </div>

        </div>
    </div>

    <div class="footer">
        <img src="../images/coral(1).png">
    </div>

</body>

</html>