<!DOCTYPE html>
<html>

<header>
    <link rel='stylesheet' href='../styles/contactUs.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet">

    <div id="title">
        <h1>Contact Us</h1>
    </div>

</header>

<body>

    <div class="container">
        <div class="menu">
            <a href="./home.html">
                <h2>Home</h2>
            </a>
            <a href="./action.html">
                <h2>Action</h2>
            </a>
            <a href="./contactUs.html">
                <h2>About Us</h2>
            </a>
        </div>
        <div class="mainContainer">
            <form action="" method="post">
                <div class="formularContainer">

                    <div class="firstName">


                        <label for="POST-firstName">
                            First Name
                        </label>
                        <input id="POST-firstName" type="text">



                    </div>
                    <div class="lastName">

                        <div>
                            <label for="POST-lastName">
                                Last Name
                            </label>
                            <input id="POST-lastName" type="text">

                        </div>


                    </div>
                    <div class="email">

                        <div>
                            <label for="POST-email">
                                Email
                            </label>
                            <input id="POST-email" type="text">

                        </div>


                    </div>
                    <div class="message">

                        <div>
                            <label for="POST-message">
                                Message
                            </label>
                            <input id="POST-message" type="text">

                        </div>


                    </div>
                    
                </div>
                <div class="sendButton">
                    <button>Send Message</button>
                </div>

            </form>
            <div class="socialMedia">
                <a href="https://www.facebook.com/"><img src="../images/facebook.png"></a>
                <a href="https://twitter.com/"><img src="../images/gorjeo.png"></a>
                <a href="https://www.instagram.com/"><img src="../images/instagram(1).png"></a>



            </div>
        </div>

    </div>

    <div class="footer">
        <img src="../images/coral(2).png">
    </div>

</body>

</html>