<!DOCTYPE html>
<html>

<header>
<link rel='stylesheet' href='../styles/home.css'/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet">

</header>
<body>

    <div>
        <h1>
            Save the corals!
        </h1>
    </div>
    
    <div id="backgroundImage">
        <img class="bubbleImage" src="../images/bubbles.png">
        <img class="coralImage"src="../images/arrecife-de-coral.png">
    </div> 


    <footer id="Menu">
        <div id="menuGrid">
            <a href="./aboutUs.html"><h2>About Us</h2></a>
            <a href="./action.html"><h2>Action</h2></a>
            <a href="./contactUs.html"><h2>Contact US</h2></a>
        </div>
    </footer>

    

</body>
</html>