<!DOCTYPE html>
<html>

<header>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    <link rel='stylesheet' href='../styles/home.css' />
    <link rel='stylesheet' href='../styles/rwd.css' />
    <link rel='stylesheet' href='../styles/print.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet">

</header>

<body>


    <div class="container">
        <div class="title">
            <h1>
                Save the corals!
            </h1>
        </div>
        <div class="backgroundImage">
            <img class="bubbleImage" src="../images/bubbles.png">
            <img class="coralImage" src="../images/arrecife-de-coral.png">
        </div>
        <div class="socialMedia">
            <a href="https://www.facebook.com/"><img src="../images/facebook.png"></a>
            <a href="https://twitter.com/"><img src="../images/gorjeo.png"></a>
            <a href="https://www.instagram.com/"><img src="../images/instagram(1).png"></a>
        </div>
        <div class="audioP">
            <audio controls='controls' autoplay>
                <source src='../media/nct_127_favorite_vampire.mp3' type='audio/mp3'>
            </audio>
        </div>
    </div>


    <div class="menu">
        <a href="./aboutUs.html">
            <h2>About Us</h2>
        </a>
        <a href="./action.html">
            <h2>Action</h2>
        </a>
        <a href="./contactUs.html">
            <h2>Contact Us</h2>
        </a>
    </div>










</body>

</html>