@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Hurricane&display=swap');

* {
    font-family: 'Comic Neue', cursive;
}

body {
    background-color: #ECF2F7;
    margin: 0;
}

h1 {

    font-family: 'DM Mono', monospace;
    font-size: 128px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;

}

header {
    background-color: white;
    padding: 0;
    width: 100%;
}

#title {
    background-color: white;
    width: 100%;
    margin: 0vh;
}

h2 {
    font-family: 'DM Mono', monospace;
    color: #39268C;
    text-align: center;
}

.aboutUsContent {
    display: flex;
    align-items: center;
    justify-content: center;

}

#info {
    display: flexbox;
    width: 50%;
    height: auto;
    text-align: justify;
    font-family: 'Commissioner', sans-serif;
    font-size: x-large;
}


.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 0.25fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "menu"
        "aboutUsContent"
        "colaboratorsContent";
}

.menu {
    grid-area: menu;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

a{
    padding-left: 5%;
    text-decoration: none;
}

.aboutUsContent {
    grid-area: aboutUsContent;
}

.colaboratorsContent{
    grid-area: colaboratorsContent;
    display: grid;
    align-items: center;
    justify-content: center;
    height: auto;
}


.listColaborators{
    padding-left: 30%;
    padding-right: 30%;
}

ul{
    text-align: justify;
    font-family: 'Commissioner', sans-serif;
    font-size: x-large;
    
}


#itemEven {
    font-size:x-large;
    padding-bottom: 3%;
    list-style-image: url("../images/pez-payaso-klein.png");
}



#itemOdd {
    font-size: x-large;
    padding-bottom: 3%;
    list-style-image: url("../images/pez-klein.png");
 
}

.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: left;
    
}

.footer img{
    width: 10%;
}


#coralRight{
    margin-left: 79%;
}