@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Hurricane&display=swap');

* {
    font-family: 'Comic Neue', cursive;
}

header {
    background-color: white;
    padding: 0;
    width: 100%;
}

body {
    background-color: #ECF2F7;
    margin: 0;
}

h1 {

    font-family: 'DM Mono', monospace;
    font-size: 128px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;

}

h2 {
    font-family: 'DM Mono', monospace;
    color: #39268C;
    text-align: center;
}

#title {
    background-color: white;
    width: 100%;
    margin: 0vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.8fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "menu"
        "mainContainer";
}

.menu {
    grid-area: menu;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.menu>a {
    padding-left: 5%;
    text-decoration: none;
}


.mainContainer {
    display: grid;
    grid-template-columns: 1.8fr 0.2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "formularContainer socialMedia";
    grid-area: mainContainer;
    padding-top: 5%;
}

.formularContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "firstName lastName"
        "email email"
        "message message"
        "sendButton sendButton";
    grid-area: formularContainer;
    padding-left: 25%;
    padding-right: 10%;
    align-content: center;
    background-clip: content-box;
    background-color: white;

}

.formularContainer div {

    display: grid;
    width: 100%;
    padding-bottom: 2%;


}

.formularContainer label {
    font-family: 'DM Mono', monospace;
    font-size: x-large;
    color: #39268C;

}

.firstName {
    grid-area: firstName;
    width: 100%;
    align-items: center !important;
    padding-left: 6%;
}

.firstName input {
    width: 90%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #39268C;
    padding-top: 3%;
    font-size: x-large;
}

.lastName {
    grid-area: lastName;
}

.lastName input {
    width: 90%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #39268C;
    padding-top: 3%;
    font-size: x-large;
}

.email {
    grid-area: email;
    padding-left: 3%;
}

.email input {
    width: 90%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #39268C;
    padding-top: 3%;
    font-size: x-large;
}


.message {
    grid-area: message;
    padding-left: 3%;
}

.message input {
    width: 90%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #39268C;
    padding-top: 3%;
    font-size: x-large;
}

.sendButton{
    grid-area: sendButton;
    width: 20%;
    justify-content: right;
}

.sendButton button{
    width: max-content;
    padding: 1%;
    border-radius: 5%;
    border:none;
    color:white;
    font-weight: bolder;
    background-color: #39268C;
    font-size: x-large;
   

    

}

.socialMedia {
    grid-area: socialMedia;
    display: flex;
    align-items:  left;
    justify-content: center;
    flex-direction: column;
}


.socialMedia img {
    margin-bottom: 5%;
    width: 40%;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: left;
    
}

.footer img{
    width: 10%;
}
