@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Hurricane&display=swap');

*{
    font-family: 'Comic Neue', cursive;
}

body{
    background-color: #ECF2F7;
}

h1 {
    
    font-family: 'DM Mono', monospace;
    font-size: 128px;
    text-align: center;

}

h2 {
    font-family: 'DM Mono', monospace;
    color: #39268C;
}


#menuGrid {
    position: fixed;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 5px 5px; 
    justify-content: center; 
    align-content: center; 
    justify-items: center; 
    align-items: center;
    background-color: white;
    
}


