@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Hurricane&display=swap');

* {
    font-family: 'Comic Neue', cursive;
}

body {
    background-color: #ECF2F7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {

    font-family: 'Hurricane', cursive;
    font-size: 128px;
    text-align: center;

}

#title {
    background-color: white;
    width: 100%;
    margin: 0vh;
}



h2 {
    font-family: 'DM Mono', monospace;
    color: #39268C;
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 2.1fr 0.5fr; 
    grid-template-rows: 1fr 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "title title title"
        "socialMedia backgroundImage audio"
}



#title {
    grid-area: title;
}


#socialMedia {
    grid-area: socialMedia;
}

#audio {
    grid-area: audio;
}


#backgroundImage {
    grid-area: image;
    display: flex;
    justify-content: center;
    height: 500px;
}

.bubbleImage {
    position: absolute;
    z-index: 1;
}

.coralImage {
    position: absolute;
    z-index: 1;
}

footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}


#menu {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: white;
    

}