@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Hurricane&display=swap');

* {
    font-family: 'Comic Neue', cursive;
}

body {
    background-color: #ECF2F7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {

    font-family: 'Hurricane', cursive;
    font-size: 128px;
    text-align: center;
    margin-bottom: 0;
    
}



h2 {
    font-family: 'DM Mono', monospace;
    color: #39268C;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.7fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "title"
        "backgroundImage"
        "media";
    height: 100%;
}

.title {
    grid-area: title;
    width: 100%;
    margin: 0vh;
    height: min-content;
}

.backgroundImage {
    grid-area: backgroundImage;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    margin-top: 20%;
    padding-bottom: 20%;
   
}

.media{
    grid-area: media;
    display: inline-flex;
    padding-left: 5%;
    width: 100%;
    /* margin-bottom: 0;
    min-height: 0vh; */
}

.socialMedia {
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    margin-right: 50%;
}


.socialMedia img {
    width: 10%;
}

.audioP {
    grid-area: audio;
    display: flex;
    align-items: center;
 
}

.bubbleImage {
    position: absolute;
    z-index: 1;
    width: 30%;
}

.coralImage {
    position: absolute;
    z-index: 1;
    width: 30%;
}



.menu {
    position: fixed;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #39268C;
}


.menu a {
    padding-left: 5%;
    text-decoration: none;
}

h2 a:hover {
    color: #337aa4;
}


footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}